body {
    padding: 0;
    margin: 0;
}

.row {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 18%;
}

.card {
    margin-top: 20px;
}

.card-body a {
    background-color: black;
    border: darkgray;
}

.card-body a:hover {
    background-color: darkgray;
}