.body {
    padding: 0;
}

form {
    margin-top: 10%;
}
.form-group {
    width: 400px;
    padding: 14px 18px;
    margin-left: 2%;
}

.form-group label {
    color: white;
    font-size: 18px;
    font-family: "Helvetica Neue";
    font-weight: bolder;
}

.form-group #melding {
    width: 400px;
    height: 200px;
}

.form-group .btn {
    color: white;
    background-color: black;
}

.form-group .btn:hover {
    background-color: darkgray;
}

.container {
    border-radius: 5px;
    padding-top: 50px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.column {
    float: left;
    width: 100%;
    margin-top: 40px;
    min-width: 400px;
    max-width: 500px;
}

.row {
    padding-left: 10%;
}



 /*Responsive layout */

@media screen  and (max-width: 600px){
    .column, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}

